In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch','Embarked'], inplace=True)

KeyError: "['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch', 'Embarked'] not found in axis"

In [4]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
target = df.Survived
inputs = df.drop('Survived', axis='columns')

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [7]:
inputs = pd.concat([inputs, dummies], axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [8]:
inputs.drop('Sex', axis='columns', inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False

In [9]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [10]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [11]:
inputs.Age.fillna(inputs.Age.mean(), inplace=True)
inputs.head()

C:\Users\vansh\AppData\Local\Temp\ipykernel_83552\1038375127.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  inputs.Age.fillna(inputs.Age.mean(), inplace=True)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [13]:
len(X_train), len(X_test)

(712, 179)

In [14]:
len(inputs)

891

In [15]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [16]:
model.fit(X_train, y_train)

GaussianNB()

In [17]:
model.score(X_test, y_test)

0.7932960893854749

In [18]:
X_test[:10]

     Pclass        Age     Fare  female   male
812       2  35.000000  10.5000   False   True
866       2  27.000000  13.8583    True  False
516       2  34.000000  10.5000    True  False
330       3  29.699118  23.2500    True  False
598       3  29.699118   7.2250   False   True
521       3  22.000000   7.8958   False   True
479       3   2.000000  12.2875    True  False
603       3  44.000000   8.0500   False   True
874       2  28.000000  24.0000    True  False
75        3  25.000000   7.6500   False   True

In [19]:
y_test [:10]

812    0
866    1
516    1
330    1
598    0
521    0
479    1
603    0
874    1
75     0
Name: Survived, dtype: int64

In [20]:
model.predict(X_test[:10])

array([0, 1, 1, 1, 0, 0, 1, 0, 1, 0])

In [21]:
model.predict_proba(X_test[:10])

array([[0.977718  , 0.022282  ],
       [0.02920496, 0.97079504],
       [0.03120369, 0.96879631],
       [0.06018438, 0.93981562],
       [0.98868178, 0.01131822],
       [0.98736014, 0.01263986],
       [0.03224665, 0.96775335],
       [0.98941011, 0.01058989],
       [0.02873839, 0.97126161],
       [0.98797366, 0.01202634]])